on boot
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dimlayer_exposure
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/hbm_enabled
    chmod 0660 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dimlayer_exposure
    chmod 0660 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/hbm_enabled

service vendor.livedisplay-hal-2-1 /vendor/bin/hw/vendor.lineage.livedisplay@2.1-service.xiaomi_sm8350
    class hal
    user system
    group system
